.ub-log-link {
	font-size: 1.2em;
	font-weight: bold;
}

.ub-log-row {
	background-color: #007f00;
	text-align: center;
}

.ub-fa-icon {
	background-color: #fff;
	border: 1px solid #999999;
	border-radius: 3px;
	cursor: default;
	display: none;
	padding-left: 5px;
	margin-top: 15px;
	position:absolute;
	z-index: 50;
	max-width: 700px;
	width: 90%;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-60%, -25%);
	transform: translate(-60%, -25%);
	box-shadow: 0px 2px 6px rgba(0,0,0,1);
}

.ub-fa-icon-button {
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.4;
	list-style: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid;
	border-radius: 4px;
	display: inline-block;
	padding: 2px;
	margin-top: 3px;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ub-fa-icon-button:focus,
.ub-fa-icon-button:hover {
	text-decoration: none;
	outline: none;
}

.ub-fa-icon-close-extra {
	width:25px;
	height:25px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:18px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.ub-fa-icon-close-extra:hover {
	background:rgba(0,0,0,1);
	text-decoration:none;
}
