<div class="blog-menu-container">
	<div class="blog-menu" style="display: none;">
		<a class="blog-menu-item" href="{{ U_BLOG_INDEX }}"><i class="icon fa-home" aria-hidden="true"></i> <span>{{ lang('BLOG_INDEX' )}}</span></a>
		<a class="blog-menu-item" href="{{ U_BLOG_CATEGORIES }}"><i class="icon fa-tags" aria-hidden="true"></i> <span>{{ lang('BLOG_CATEGORIES') }}</span></a>
		<a class="blog-menu-item" href="{{ U_BLOG_ARCHIVE }}"><i class="icon fa-archive" aria-hidden="true"></i> <span>{{ lang('BLOG_ARCHIVE') }}</span></a>
	</div>
	<div class="blog-menu-toggle hvr-pulse-grow"><i class="icon fa-chevron-down fa-lg"></i><i class="icon fa-chevron-up icon-hidden fa-lg"></i></div>
</div>

{% if S_UB_ANNOUNCEMENT_ENABLED %}
	<div class="rules">
		<div class="inner">
			{{ UB_ANNOUNCEMENT_TEXT }}
		</div>
	</div>
{% endif %}
