.archive {
	margin-top: 20px;
	margin-left: 10px;
}

.archive-year {
	display: inline-block;
	font-size: 1.3em;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 20px;
}

.archive-year > h3 {
	font-size: 1.2em;
}


.archive-year > a {
	line-height: 1.5em;
	text-decoration: none;
	font-weight: bold;
}


/* Icon Fade
 *
 * Courtesty of Hover.css
 * github.com/IanLunn/Hover
 */
.hvr-icon-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-left: 2.2em;
}

.hvr-icon-fade:before {
	content: "\f03c";
	position: absolute;
	left: 0.5em;
	padding: 0 1px;
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color;
	transition-property: color;
}
.hvr-icon-fade:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {
	color: #0F9E5E;
}
