<div id="tabs" class="tabs sub-panels blog-search-tabs" data-show-panel="{{ UB_SHOW_SEARCH_PANEL }}" role="tablist">
    <ul role="tablist">
        <li id="forums-panel-tab" class="tab activetab" role="tab">
            <a href="#tabs" data-subpanel="forums-panel" role="tab" aria-controls="forums-panel"><span>{{ lang('FORUMS') }}</span></a>
        </li>
        <li id="blogs-panel-tab" class="tab" role="tab">
            <a href="#tabs" data-subpanel="blogs-panel" role="tab" aria-controls="blogs-panel"><span>{{ UB_TITLE }}</span></a>
        </li>
    </ul>
</div>

<div class="panel bg3" id="forums-panel">